Repository pkosiec/mongo-seeding, pull requests merged in 2018-10, with the labels that each got.

#41 Improve Core API
  cli/.ci/script.sh
  cli/Dockerfile
  cli/README.md
  cli/bin/seed.js
  cli/package.json
  cli/src/help.ts
  cli/src/index.ts
  cli/src/options.ts
  cli/src/types.ts
  cli/test/integration/index.ts
  cli/test/unit/options.ts
  core/Dockerfile
  core/README.md
  core/package.json
  core/src/common/config.ts
  core/src/common/index.ts
  core/src/common/types.ts
  core/src/config.ts
  core/src/data-processing/DataTransformer.ts
  core/src/data-processing/index.ts
  core/src/database/config.ts
  core/src/database/database-connector.ts
  core/src/database/database.ts
  core/src/database/index.ts
  core/src/database/time-utils.ts
  core/src/importer/index.ts
  core/src/index.ts
  core/src/populator/filesystem.ts
  core/src/populator/index.ts
  core/src/transformer/collection-transformer.ts
  core/src/transformer/index.ts
  core/src/transformer/transformer-functions.ts
  core/test/integration/DataPopulator.ts
  core/test/integration/Database.ts
  core/test/integration/DatabaseConnector.ts
  core/test/integration/index.ts
  core/test/unit/CollectionPopulator.ts
  core/test/unit/CollectionTransformer.ts
  core/test/unit/DataPopulator.ts
  core/test/unit/DatabaseConnector.ts
  core/test/unit/FileSystem.ts
  core/test/unit/config.ts
  docker-image/Dockerfile
  docker-image/README.md
  docker-image/test/tester/package.json
  examples/custom-docker-image/Dockerfile
  examples/custom-docker-image/sample-data/helpers/index.js
  examples/import-data-ts/README.md
  examples/import-data-ts/example/helpers/index.ts
  examples/import-data/README.md
  examples/import-data/example/helpers/index.js
Labels: area/core, breaking, enhancement

#42 Don't import `fs` dependency when it is not needed
  core/src/index.ts
Labels: area/core, enhancement

#46 Reduce size of Docker image
  .ci/run_in_all_projects.sh
  .travis.yml
  cli/.ci/script.sh
  core/.ci/script.sh
  docker-image/.ci/after_success.sh
  docker-image/.ci/script.sh
  docker-image/.dockerignore
  docker-image/build.sh
  docker-image/dev.Dockerfile
  docker-image/prod.Dockerfile
Labels: area/docker-image, bug

#49 Cleanup dependencies
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  package-lock.json
  package.json
Labels: area/cli, area/core, enhancement

#48 Add install size badge to readme
  cli/README.md
  core/README.md
Labels: documentation

#52 Fix links in Readme files for NPM packages
  cli/README.md
  core/README.md
Labels: area/cli, area/core, bug
