Repository pkosiec/mongo-seeding, pull requests merged in 2020-04, with the labels that each got.

#110 Fix MongoClient usage and default timeout in DB connector
  cli/package-lock.json
  core/src/database/database-connector.ts
  core/src/index.ts
Labels: area/core, bug

#111 Fix JS data import example
  examples/import-data-ts/example/package-lock.json
  examples/import-data-ts/example/package.json
  examples/import-data/example/helpers/index.js
  examples/import-data/example/package-lock.json
  examples/import-data/example/package.json
Labels: area/examples, bug

#115 Restore CLI logging enabled by default
  cli/test/integration/index.ts
  core/src/common/logger.ts
  core/src/database/database-connector.ts
  core/src/importer/index.ts
  core/src/index.ts
  core/src/populator/populator.ts
  core/test/unit/log.ts
Labels: area/cli, bug

#113 Fix Codecov reporting
  cli/.ci/script.sh
  core/.ci/script.sh
Labels: area/ci, bug

#116 Update all dependencies
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  core/test/integration/index.ts
  docker-image/test/tester/package-lock.json
  docker-image/test/tester/package.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/custom-docker-image/sample-data/package.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data-ts/example/package.json
  examples/import-data/example/package-lock.json
  package-lock.json
  package.json
Labels: area/cli, area/core, area/examples, dependencies, enhancement

#117 Use native MongoDB connection retry
  core/README.md
  core/src/config.ts
  core/src/database/database-connector.ts
  core/src/database/database.ts
  core/src/database/index.ts
  core/src/database/time.ts
  core/src/index.ts
  core/test/integration/database-connector.ts
  core/test/integration/database.ts
  core/test/integration/index.ts
  core/test/unit/database-connector.ts
  core/test/unit/time.ts
Labels: area/core, enhancement

#108 Add example using Mongo Seeding with Mongoose and Express
  examples/README.md
  examples/mongoose-express/README.md
  examples/mongoose-express/example/data/1-customers/customer.json
  examples/mongoose-express/example/data/2-menus/menu.json
  examples/mongoose-express/example/data/3-orders/order.json
  examples/mongoose-express/example/data/command_seed.md
  examples/mongoose-express/example/index.js
  examples/mongoose-express/example/models/customer.js
  examples/mongoose-express/example/models/menu.js
  examples/mongoose-express/example/models/order.js
  examples/mongoose-express/example/package-lock.json
  examples/mongoose-express/example/package.json
Labels: area/examples, documentation

#120 Support .cjs file extension by default
  cli/src/index.ts
  core/README.md
  core/src/config.ts
  core/test/integration/_importdata/populator-docs/array/array.cjs
  core/test/integration/_importdata/populator-docs/object/object.cjs
  core/test/integration/_importdata/populator-docs/object/object.js
  core/test/integration/populator.ts
  core/test/unit/config.ts
  docs/import-data-definition.md
Labels: area/cli, area/core, enhancement

#121 Preserve stacktrace of internal error
  core/src/index.ts
Labels: area/core, bug
